[submodule "lib/rom_msgs"]
	path = lib/rom_msgs
	url = git@github.com:ROM-robotics/rom_msgs.git
[submodule "lib/rom_dynamics_v2"]
	path = lib/rom_dynamics_v2
	url = git@github.com:ROM-robotics/rom_dynamics_v2.git
[submodule "lib/ros_qt5_gui_app"]
	path = lib/ros_qt5_gui_app
	url = git@github.com:ROM-robotics/Ros_Qt5_Gui_App.git
